// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap'				;
@import 'node_modules/bootstrap-vue/src/index.scss'			;
@import '~@fortawesome/fontawesome-free/scss/fontawesome'	;
@import '~@fortawesome/fontawesome-free/scss/regular'		;
@import '~@fortawesome/fontawesome-free/scss/solid'			;
@import '~@fortawesome/fontawesome-free/scss/brands'		;
footer{
	background-color:white;
	margin-bottom: -10px;
	margin-top: 10px;
}
@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}
#Menu{
	.nav-link{
		padding: 0rem 1rem; 
	}
	.navbar-brand{ 
		padding: 0rem 1rem;
	}
	input{
	   background-color:$dark !important;
       border:none !important;
 	   border-radius: 0px !important;

	   padding-top: 0px !important;
	   padding-bottom: 0px!important;
	   height: 30px !important;
   };
	
	.border-bottom{
		border-bottom:5px;
	}
}

/* Style the navbar */
#navbar {
 	z-index: 40;
  	margin-top: 14px;
.btn-primary {
    color: #fff;
    background-color: transparent; 
     border-color: transparent; 
}
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: -1px;
  width: 100%;
}
#principal{
	margin-top: -350px;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #principal {
  padding-top: 210px;
}
.content_prin{
	animation-duration: 3s;
	margin-top: 70px
	!important;
}
@import 'variables';